<!DOCTYPE html>
<html>
<head>
	<title>4 - Directives</title>

  <link rel="stylesheet" type="text/css" href="demo.css">

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script type="text/javascript" src="4-directives.js"></script>
</head>
<body>
	<div ng-app="myApp">

		<video src="movie.mp4"></video> <!-- controls autoplay -->

<!-- 		<div ng-controller="FirstCtrl">
			<h1>FirstCtrl</h1>
		
			<form ng-submit="addMessage(newMessage)">
				<input type="text" ng-model="newMessage">
				<button type="submit">Add message</button>
			</form>

			<ul>
				<li ng-repeat="message in messages">
					<message text="message">
				</li>
			</ul>
		
		</div>

		<div ng-controller="SecondCtrl">
			<h1>SecondCtrl</h1>

			<ul>
				<li ng-repeat="message in messages">
					<message text="message">
				</li>
			</ul>

		</div>
 -->
	</div>
</body>
</html>